*, ::after,::before{
    padding: 0;
    margin: 0;
  }

  .container{
    background-color: grey;

    margin: 0px auto;
    padding: 10px;

  }
  .share{
    line-height: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;


  }
